<div class="container">
    <mat-form-field appearance="fill" class="input1">
        <mat-label>First Number</mat-label>
        <input matInput type="number" [(ngModel)]="firstNo">
    </mat-form-field>
    <mat-form-field appearance="fill" class="input2">
        <mat-label>Second Number</mat-label>
        <input matInput type="number" [(ngModel)]="secondNo">
    </mat-form-field>
    <div class="operations">
        <button (click)="addition()">Add</button>
        <button (click)="subtraction()">Subtract</button>
        <button (click)="multiplication()">Multiply</button>
        <button (click)="division()">Division</button>
    </div>
    <div class="results">
        <p>{{operation}}: <span>{{answer}}</span></p>
        <button class="clear" (click)="clear()"><mat-icon color="primary">backspace</mat-icon></button>
    </div>
</div>

